.background-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}
.fade-in   {
    animation: fadeIn 500ms ease-in-out;
}
.centered-image {
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: auto;
    padding: auto;
    padding-left: 20px;
    display: block;
    margin: 0 auto;
}

.button-container {
    position: absolute;
    top: 65%;
    left: 18%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    padding: auto;
}

.button-container button1 {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-image: linear-gradient(to right, #5148b3, #18114b); /* Gradient màu xanh dương */
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 300ms ease, transform 300ms ease, box-shadow 300ms ease;
}
.button-container button2 {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-image: linear-gradient(to right, #35647d, #0c2234); /* Gradient màu xanh dương */
  color: white;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 300ms ease, transform 300ms ease, box-shadow 300ms ease;
}

.button-container button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.button-container button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.play-button {
  width: 50px;
  height: 50px;
  background-color: #d9534f; /* Adjust color as needed */
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: #c9302c; /* Adjust hover color as needed */
}

.play-button::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 12px solid white;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  
}
.button-fa{
  position: absolute;
  font-size: 45px;
  color: rgb(238, 244, 245);
  top: 3%;
  right: 3%;
  padding: auto;
  opacity: -5;
}
.button-fa:hover{
  cursor: pointer;
  opacity: 1;
}