.navbar {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #1a192e, #2b2f6f);
    padding: 5px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
    font-family: sans-serif;
}

.spacer {
    flex-grow: 1;
}

.navbar-a {
    position: relative;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar-a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.navbar-a:hover::after {
    transform: scaleX(1);
}

.navbar-logo {
    font-size: 24px;
    font-weight: 700;
    color: #fbbf24;
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}
.navbar-logo :hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.navbar-a:not(:last-child) {
    margin-right: 10px;
}


.navbar-logo img {
    width: 120px;
    height: auto;
    max-height: 100px;
    
}
.navbar-logo-icon {
    font-size: 28px;
    color: #fafafa;
    transition: transform 0.3s ease-in-out;
    margin-right: 25px;
    
}

.navbar-logo-icon:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .navbar-a {
        padding: 10px 0;
        font-size: 14px;
    }

    .navbar-logo {
        margin-bottom: 10px;
        font-size: 20px;
    }
}

.navbar-search-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #2b2f6f;
    margin-right: 20px;
}

.navbar-search {
    padding: 5px 10px 5px 35px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    width: 200px;
    height: 30px;
    transition: border-color 0.3s ease-in-out;
}

.navbar-search:focus {
    border-color: #888;
}

.navbar-search-icon {
    position: absolute;
    color: #888;
    font-size: 20px;
    pointer-events: none;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.3s ease-in-out;
}

.navbar-search:focus + .navbar-search-icon {
    color: #555;
}
